* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

header {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.title-container,
.search-container,
.cart-container,
.user-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #ff5200;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
input{
   background-image: url("../images/search-icon.png");
   background-repeat: no-repeat;
   background-position: right;
   background-size: 25px;
}

.cart-container a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    cursor: pointer;
}

.user-container p {
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
}

main {
    padding: 25px;
    background-color: #f5f5f5;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.5s;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

button {
    background-color: #ff5200;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-wrap: nowrap;
}

.card h2,
p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgba(2, 6, 12, 0.75);
    width: 100%;
    text-align: center;
}

.card p {
    color: black;
}

.cart-sidebar-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    overflow: auto;
}

.cart-sidebar-container.active {
    display: block;
}

.cart-sidebar-container h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #ff5200;
    text-align: center;
    padding: 10px;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}